<div class="pure-g-r">
  <a data-page="{{ prev }}" href="/photos/{{ prev }}" class="left-arrow">
  </a>
  <div class="photo-container">
    <div class="photo-image">
      <img src="{{ url }}" />
    </div>
  </div>
  <a data-page="{{ next }}" href="/photos/{{ next }}" class="right-arrow">
  </a>
</div>
