<div class="pure-g-r">

<!--
        <div class="pure-u-1-3 photo-box">
            <a href="/photo/{{index}}">
                <img src="{{url}}"
                     alt="{{title}}"
                     data-height="{{data-height}}"
                     data-width="{{data-width}}">
            </a>
        </div>
-->

    <div id="mygallery">
        {{#each items}}
            <div>
                <img src="{{url}}"
                     alt="{{title}}"
                     data-height="{{data-height}}"
                     data-width="{{data-width}}"/>
             </div>
        {{/each}}
    </div>


    <script>
      $('#mygallery').justifiedGallery({
          rowHeight: 480, // default is 120
          lastRow: 'hide', // default is nojustify
          captions: false, // default is true
          randomize: true, // default is false
          cssAnimation: false, // default is false
      });
    </script>
</div>
