<div class="pure-g-r">
  <a data-page="{{prev}}" href="/search/photo/{{prev}}?q={{query}}" class="left-arrow">
  </a>
  <div class="photo-container">
    <div class="photo-image">
      <img src="{{photo.url}}" />
    </div>
  </div>
  <a data-page="{{next}}" href="/search/photo/{{next}}?q={{query}}" class="right-arrow">
  </a>
</div>
